.feed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap:16px ;
    grid-row-gap: 30px ;
    margin-top: 15px;
   
}

.card img{
    width: 100%;
    border-radius: 5px;

}

.card h2{
    font-size: 13px;
    font-weight: 600;
    color: black;
    margin-top: 5px 0;

}

.card h3 {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin: 6px 0;
}

.card p {
    font-size: 14px;
}

.video-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.video-card {
    width: calc(25% - 20px); /* 4 vidéos par ligne */
    margin: 10px; /* Espacement ajusté pour la responsivité */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
   
}

.video-thumbnail {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.video-card h3 {
    margin: 10px 0;
   
}

.video-card p {
    color: #555;
}

@media only screen and (max-width: 768px) {
   /* Ajoutez ce code dans votre fichier CSS */

@media only screen and (max-width: 768px) {
    .main-title {
        position: relative; /* Assurez-vous que le titre a une position relative */
        z-index: 999; /* Assure que le titre reste au-dessus du navbar */
        margin-top: 250px; /* Déplacez le titre au-dessus du navbar */
    }

    .main-description {
        position: relative; /* Assurez-vous que la description a une position relative */
        z-index: 999; /* Assure que la description reste au-dessus du titre */
        margin-top: 20px; /* Déplacez la description au-dessus du titre */
        padding: 0 10px; /* Ajoute un peu d'espace sur les côtés */
    }

    .main-icons img {
        width: 50px; /* Réduisez la taille des icônes */
    }

    .video-gallery {
        margin-top: 120px; /* Déplace les vidéos au-dessus des icônes */
    }

    .video-card {
        width: calc(100% - 20px); /* Affiche une vidéo par ligne sur les petits écrans */
        margin: 10px; /* Ajoute un peu d'espace entre les vidéos */
    }
}

}
